@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Mono:100,200,300,regular,500,600,700,800,900);

* {
    font-family: 'Noto Sans Mono';
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(70, 70, 70);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    // .container__header
    &__header {
        font-size: 35px;
        text-align: center;
        color: #fff;
    }
}
.time {
    width: 500px;
    height: 200px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    // .time__display

    &__display {
        font-size: 28px;
        font-weight: bold;
    }


		// .time__button

		&__button {
            border: none;
            background-color: #89cde2;
            border-radius: 5px;
            width: 80px;
            height: 30px;
            color: #fff;
            cursor: pointer;
			// .time__button_data

			&_data {
                background-color: #421b70;
                color: #fff;
			}

			// .time__button_time

			&_time {
                background-color: #6d701b;
                color: #fff;
			}
		}
}


